* { box-sizing: border-box }

html,
body {
    position: relative;
    height: 100%;
    //background: pink;
}

body {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background: url("../images/bg.jpg") no-repeat center center;
    background-size: cover;
}

.wrapper-table {
    display: table;
    max-width: 280px;
    margin: 0 auto;
    height: 100%;

    .wrapper-cell {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 3;
            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

opacity: 1;
        }
    }

}

h1 {
    //color: #fff;
    z-index: 10;
    position: relative;
    text-align: center;
    padding: 0 2rem;
    margin-bottom: 1.4rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-shadow: 0 0 15px #fff;
}

#mc_embed_signup {
    z-index: 10;
    position: relative;
    border-radius: 4px;
    //background-color: rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.0);

    .mc-field-group {
        margin: 0 0 1rem;
        width: 100%;

        strong {
            text-transform: uppercase;
            color: #fff;
        }
    }

    div.mce_inline_error {
        background: red;
    }

    .split {
        display: flex;
        //width: 100%;

        input {
            flex-flow: row nowrap;
            //width: 50%;
        }
    }

    h2 {
        font-size: .8rem;
        //color: #fff;
        margin-top: 0;
        font-weight: normal;
        text-transform: uppercase;
    }


    form {
        text-align: center;
        padding: 1rem;
    }

    label {
        text-shadow: 0 0 15px #000;
        color: #fff;
    }

    input {
        //width: 100% !important;
        margin: 0;
        font-size: 16px;
        text-align: center;
        border-radius: 3px;

        &.button {
            margin-bottom: 0;
            background-color: #ff004e;
        }
    }

    .role {
        display: table;
        margin: 0 auto !important;

        li {
            text-align: left;
            //width: 50%;
            display: table-cell !important;
            font-size: 1rem;
            padding: 0 5px !important;

            input {
                //-webkit-appearance: none;
                margin-right: .5rem;
                border: 1px solid #999;
                //background: #fff;
            }
        }
    }
}
